map $http_x_forwarded_proto $forwarded_proto {
    default $http_x_forwarded_proto;
    ""      $scheme;
}

server {
    server_name colday.ru www.colday.ru;

    location / {
        proxy_pass http://host.docker.internal:33061;
        proxy_set_header Host $host;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header X-Original-URI $request_uri;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $forwarded_proto;
    }

    location /api {
        proxy_pass http://host.docker.internal:33062;
        proxy_set_header Host $host;
        proxy_set_header X-Scheme $scheme;
        proxy_set_header X-Original-URI $request_uri;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;

    }

    listen 443 ssl;
    ssl_certificate /etc/colday.ru/fullchain.pem;
    ssl_certificate_key /etc/colday.ru/privkey.pem;
}

server {
    if ($host = www.colday.ru) {
        return 301 https://$host$request_uri;
    }

    if ($host = colday.ru) {
        return 301 https://$host$request_uri;
    }
    listen 80;
    server_name colday.ru www.colday.ru;
    return 404;
}